@import url('https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

html {
    @apply text-white;
}

.z--1 {
    z-index: -1;
}

.button {
    font-weight: 500;
    height: 2.187rem;
    border-radius: 1.25rem;
    background-color: #8eb3bc;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerButton {
    font-weight: 500;
    height: 2.187rem;
    border-radius: 1.25rem;
    background-color: #ffd600;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginInfo {
    color: #989898;
}

.searchInput {
    width: 80%;
    outline: 0;
    border-width: 0 0 0.063rem;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    color: #7b7b7b;
}
